</div>
</body>
<footer class="footerc text-center text-lg-start glass fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-3 text-light">
    © 2023 Copyright:
    <a class="text-light" href="https://pbs.twimg.com/media/E3RCzJ5XEAIRGCO.jpg">Niranjan</a>
  </div>
  <!-- Copyright -->
</footer>
  <script type="text/javascript" src="/javascript/script.js"></script>
</html>