<%- include("../partials/header") %>

<div class="containerc">

<div class="box glass col-12 text-light">
    <i class="fa-solid fa-crown" style='font-size:50px; color:rgb(255, 0, 0)'></i>
    
    <h3>get <%= counter %> more stars to become <span class="premium">PREMIUM</span> user</h1>
    <h5 class="mt-3">- premium privelages -</h5>
    <ul>
       <li>rate articles</li>
       <li>share your thoughts on an article</li>
    </ul>
</div>

</div>

<%- include("../partials/footer") %>
