<%- include("../partials/header") %>

<div class="containerc">

<div class="box glass col-12 text-light">    
<form method="post" class="col-12 text-light">

    <div>
      <h3 style="font-weight: bolder;"><span style="color: #eeddf0;">Comment</span> <span style="color: #858484;">Something</span></h3>
    </div>

      <div class="form-group my-3">
        <label>Stars</label>
        <select class="form-control" name="rating">
          <option value="">rate the article</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option> 
        </select>
      </div>

    <div class="form-group">
      <label for="content">Comment</label>
      <textarea class="form-control mb-3" name="comment" rows="3" required></textarea>
    </div>

    <div class="centeralign">
      <button type="submit" class="btn btn-outline-light my-3 col-6">Submit</button>
    </div>

  </form>

</div>

<%- include("../partials/footer") %>
