<%- include("../partials/header") %>

<div class="containerc">

<div class="box glass col-12 text-light">
    <i class="fa-solid fa-blog mb-3" style="color: #00c9cc; font-size: 60px;"></i>
    <h5>- Welcome to my blog site - </h5>
    <h5>- Read articles from bloggers around the world -</h5>
    <h5>- Register now to share your thoughts -</h5>
</div>

</div>

<%- include("../partials/footer") %>
