<%- include("../partials/header") -%>


<div class="containerc">
  
  <% if(message) {%>
    <div class="messagebox glass my-3" id="mbox">
  <h5 class="text-light" id="message"><%= message %></h5>
    </div>
   <% } %>
   
<div class="box glass" style="display: flex; flex-direction: column; align-self:auto;">
    <h1 class="mb-3">Manager Log In</h1>
    <form method="post" action="/managers/login">
        <div class="form-group">
            <input type="email" class="form-control my-3" name="email"  placeholder="Enter email" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control mb-3" name="password" placeholder="Password" required>
          </div>
          <button type="submit" class="btn btn-primary mt-3 col-12">Log In</button>
    </form>
</div>    


</div>



<%- include("../partials/footer") -%>